<div class="content1">
  <% @kakomons.each do |kakomon| %>
    <div class="block">
      <div class="title">
        <p><%= kakomon.prefecture %></p>
      </div>
      
      <div class="text">
        <p><%= simple_format(kakomon.text) %></p>
      </div>
      <span class="name">
          <span>投稿者:</span><%= kakomon.user.nickname %>
      </span>
      
    </div>
  <% end %>
  <div class="paginate">
  <%= paginate(@kakomons) %>
  </div>
</div>