<div class="">
  <%= form_tag('/kakomons', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input type="string" name="prefecture" placeholder="都道府県">
    <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>
    <input type="submit" value="SEND">
  <% end %>
</div>