<div class="content2">
  <%= form_tag('/kakomons', method: :post) do %>
    <h2>
      投稿する
    </h2>
    
    <div class="todouhuken">
      <input type="string" name="prefecture" placeholder="都道府県" class="todouhuken1">
    </div>
    
    <div class="text1">
      <textarea name="text" placeholder="カコ問" class="text2"></textarea>
    </div>
  
    <div class="btn1">
      <input type="submit" value="投稿" class="btn">
    </div>
    
  <% end %>
</div>