<div class="top">
    <h1>問題集は難しい。。。<br>
    そんな人のためにやさしく、理解しやすい形にして<br>
    昇任試験の問題を作成。<br>
    また利用者でカコ問を共有できるサービスを作りました。<br>
    ログインして、お楽しみください。<br>
    </h1>
  
  
  <div class="top_btn">
    <div class="top_btn1">
      <a><%= link_to 'ログイン', "/users/sign_in" %></a>
    </div>
    <div class="top_btn2">
      <a><%= link_to '新規登録', "/users/sign_up" %></a>
    </div>
  </div>
  
</div>