<div class="top">
    <h1>問題集は難しい。。。<br>
    そんな人のためにやさしく、理解しやすい形にして<br>
    昇任試験の問題を作成。<br>
    </h1>
    <h1>
    また利用者でカコ問を共有できるサービスを作りました。<br>
    ログインすることで投稿・コメントすることができます。<br>
    </h1>
    <h1>↓↓↓↓↓</h1>
  
  
  <div class="top_btn">
    <div class="top_btn1">
      <a><%= link_to '消防法', "/aquestions" %></a>
    </div>
    <div class="top_btn1">
      <a><%= link_to '消防組織法', "/bquestions" %></a>
    </div>
    <div class="top_btn1">
      <a><%= link_to 'カコ問一覧', "/kakomons" %></a>
    </div>
  </div>
  
</div>