<div class="top">
    <h1>問題集。。。文章難しい。。。<br>
    そんな人のためにやさしく、理解しやすい形にして<br>
    昇任試験の問題を作成しました。<br>
    
    お楽しみください<br>
    それでは行きましょう！！<br>
    ↓↓
    </h1>
  
  
  <div class="top_btn">
    <div class="top_btn1">
      <a><%= link_to '消防法', "/aquestions" %></a>
    </div>
    <div class="top_btn2">
      <a><%= link_to '消防組織法', "/bquestions" %></a>
    </div>
  </div>
  
</div>