<div class="top">
  <h1><%= simple_format(@top.text) %></h1>
  
  <div class="top_btn">
    <div class="top_btn1">
      <a><%= link_to '消防法', "/aquestions" %></a>
    </div>
    <div class="top_btn2">
      <a><%= link_to '消防組織法', "/bquestions" %></a>
    </div>
  </div>
  
</div>