<div class="nickname">
  <p><%= @nickname %>さんの投稿一覧</p>
</div>
<div class="content1">
  <% @kakomons.each do |kakomon| %>
    <div class="block">
      
      <div class="text">
        <p><%= simple_format(kakomon.text) %></p>
      </div>
      
    </div>
  <% end %>
  <div class="paginate">
  <%= paginate @kakomons %>
  </div>
</div>