<div class="ans">
  
  <div class="answer">
    <p><span>A.  </span><%= @banswer.text %><p>
  </div>
    
  <div class="box1">
    <p><%= simple_format(@banswer.exp) %><p>
  </div>
  
  <div class="ans_btn">
  <a href="/bquestions" class="btn-square">もどる</a>
  </div>
</div>