<div class="ans">
  
  <div class="answer">
    <p><span>A.  </span><%= @aanswer.text %><p>
  </div>
    
  <div class="box1">
    <p><%= @aanswer.exp %><p>
  </div>
  
  <div class="ans_btn">
  <a href="/aquestions" class="btn-square">もどる</a>
  </div>
</div>