<div class="ans">
  
  <div class="answer">
    <p><span>A.  <%= @aanswer.text %></span><p>
  </div>
    
  <div class="box1">
    <p><%= simple_format(@aanswer.exp) %><p>
  </div>
  
  <div class="ans_btn">
  <a href="/aquestions" class="btn-square">もどる</a>
  </div>
</div>