// Place all the styles related to the kakomons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.name{
  float: right;
}

// 削除、編集、投稿者の横並び
.more_list li{
  display: inline;
}

.text{
  word-break: break-all;
}