* {
  margin: 0px;
  padding: 0px; /*画面の余白を無くすための処理*/
}




html{
  height: 100%;
}

body{
  height: 100%;
}


.wrapper{
    min-height: 100vh; /*全体の枠の高さの最小値を決定*/
    position: relative;/*相対位置*/
}



.headline{
  background-color: black;
  margin: 0;
  height: 80px;
}

.headline a{
  line-height: 80px;  /*heightの高さに合わせることで縦の中央が揃う*/
  padding-left: 30px;
  color: white;
}

.fa-burn{
  padding-right: 15px; /*アイコン*/
}

.headline span{
  color: white;
  font-size: 20px;
  padding: 0px 40px;
}

.login{
}

.devise{
  float: right;
}

.devise a{
  color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-left:10px ;
}


.list{
  height: 50px; 
  background-color: #808080;
  text-align: center;
}

.list li{
  font-size: 20px;
  line-height: 50px;
}

.list-item{
  display: inline-block;
  height: 50px;
  width: 200px;
  text-align: center;
}

.list-item a{
  color: white;
  text-decoration: none;
}

.list-item a:hover{
  color: black;
  font-weight: bold;
}


footer{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 30px 0px;
    background-color: #808080;
    position: absolute;
    bottom: 0;
}
 
 
@font-face{
   font-family: "hoge";
   src: font-url('azuki.ttf') format('truetype');
 }
 
body{
  font-family: 'hoge';
}


//新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.sign_up h2{
  text-align: center;
  margin: 40px 0;
}

.field{
  margin: 30px auto;
}

.field p{
  text-align: center;
  font-size: 20px;
}


.actions p{
  text-align: center;
}

input#user_nickname{
  width: 200px;
  height: 25px;
  font-size: 20px;
}

input#user_email{
  width: 250px;
  height: 25px;
  font-size: 20px;
}

input#user_password{
  width: 250px;
  height: 25px;
  font-size: 20px;
}

input#user_password_confirmation{
  width: 250px;
  height: 25px;
  font-size: 20px;
}

.field_with_errors{
  text-align: center;
}

#error_explanation{
  text-align: center;
}


//ログイン画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.log_in{
  
}

.log_in h2{
  text-align: center;
  margin: 40px 0px;
}

input.user_email{
  font-size:3em;
}


.btn{
  font-size: 20px;
  width: 100px;
  background: black;
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

//投稿が完了しました
.toukou{
  text-align: center;
  margin: 40px 0px;
}

.toukou h3{
  margin-bottom: 40px;
}


//更新が完了しました
.kousin{
  text-align: center;
  margin: 40px 0px;
}

.kousin h3{
  margin-bottom: 40px;
}

//削除が完了しました
.sakuzyo{
  text-align: center;
  margin: 40px 0px;
}

.sakuzyo h3{
  margin-bottom: 40px;
}

//投稿する,編集するーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.content2{
  text-align: center;
}

.content2 h2{
  margin: 40px;
}

.text1{
  margin: 40px;
}

input.todouhuken1{
  width: 200px;
  height: 25px;
  font-size: 20px;
  border: solid 3px #000000;
  border-radius: 10px;
}

textarea.text2{
  width: 600px;
  height: 200px;
  font-size: 20px;
  border: solid 3px #000000;
  border-radius: 10px;
}


//過去問投稿へのコメント機能ーーーーーーーーーーーーーーーーーーーーーーー
textarea.text3{
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: solid 2px #000000;
  border-radius: 10px;
}

.btn2{
  font-size: 10px;
  width: 50px;
  background: black;
  color: white;
  border-bottom: solid 3px #627295;
  border-radius: 2px;
}

.btn2:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

//コメントフォームを真ん中へ
.form{
  text-align: center;
}





//コメント一覧のdiv要素からはみ出さないようにする処理ーーーーーーーーーーーーーーー
.comments{
  word-break: break-word;
}


.block{
   overflow: scroll;
}